.rm-fs-container {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    border: 1px solid hsl(210, 0%, 89%);
    border-radius: 5px;
    font-family: sans-serif;
    height: auto;
    overflow-y: auto;
    max-height: 75vh;
}

.rm-including-sub-folder{
    height: 6vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.rm-fs-including-sub-folder-checkbox{
    display: flex;
    align-items: center;
}

