@import "~font-awesome/css/font-awesome.css";

body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(195, 3%, 24% );
    font-size: 16px;
}

.rm-fs-span {
    flex: 1 1 0;
    padding-left: 12px;
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.rm-fs-checkbox {
    height: 16px;
    width: 16px;
    border: 2px solid hsl(210, 0%, 89%);
    border-radius: 5px;
    cursor: pointer;
}